<%= content_tag_for :li, todo, style: 'margin-bottom: 0.5em;' do %>
  <div class='level'>
    <div class='level-left'>
      <% if todo.completed %>
      <% reopen_todo = ReopenTodo.new %>
      <%= render reopen_todo, todo: todo, user: current_user%>
      <% else %>
        <% complete_todo = CompleteTodo.new %>
        <%= render complete_todo, todo: todo, user: current_user%>
      <% end %>
      <span class='level-item'><%= todo.title %> </span>
      <% unless todo.deadline.nil? %>
        <% if todo.over_due? %>
          <span class="tag is-danger is-primary todo-tag"><%= todo.deadline.to_date %></span>
        <% else %>
          <span class="tag is-info is-primary todo-tag"><%= todo.deadline.to_date %></span>
        <% end %>
      <% end %>

      <% unless todo.assigned_member.nil? %>
        <span class="tag is-info is-primary todo-tag"><%= todo.assigned_member.name %></span>
      <% end %>
      </span>
    </div>
  </div>
<% end %>
